{% include "/navbar.html" %}

<div class="container d-flex justify-content-center pt-5">
    <div class="pt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible mt-2" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <strong>Title</strong> -->
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
  <form class="form-inline pt-5" method="POST">
    <div class="form-group mb-2">
      <label for="inputPassword2" class="sr-only">Username</label>
      <input
        type="text"
        class="form-control"
        id="inputPassword2"
        placeholder="Username"
        name="username"
        autocomplete="off"
        required
      />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        placeholder="Password"
        name="password"
        autocomplete="off"
        required
      />
    </div>
    <button type="submit" class="btn btn-dark mb-2">Confirm identity</button>
  </form>
</div>
</div>
{% include "/footer.html" %}
