{% include "/navbar.html" %}

<div class="container pt-5">
  <div class="pt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible mt-2" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <strong>Title</strong> -->
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% for post in posts %}
    <div class="container card mb-4">
      <div class="card-body">
        <a href="/post/{{post.id}}" class="display-4 text-dark">{{ post.title }}</a>
        <p class="lead"><i class="fas fa-user"></i> {{ post.author }}</p>
        <small class="text-muted">{{moment(post.created).fromNow()}}</small>
        <p class="card-text">{{ post.content }}</p>
        <a href="/post/{{post.id}}" class="card-text text-muted">{{ post.comments | length}} comments</a>
      </div>
    </div>
        {% endfor %}
  </div>
</div>

    {% include "/footer.html" %}
