{% include "/navbar.html" %}

<div class="container pt-5">
  <div class="pt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible mt-2" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <strong>Title</strong> -->
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% for post in posts %}
    <div class="container card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <a href="/post/{{post.id}}" class="display-4 text-dark"
            >{{ post.title }}</a
          >
          <div class="btn-group dropleft">
            <button
              type="button"
              class="btn btn-link text-dark dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ></button>
            <div class="dropdown-menu">
              <!-- <div class="dropdown-divider"></div> -->
              <form
                action="{{url_for('crud_entry', id=post.id, action='report')}}"
                method="POST"
              >
                <button type="submit" class="dropdown-item">
                  Report
                </button>
              </form>
            </div>
          </div>
        </div>
        <p class="lead"><i class="fas fa-user"></i> {{ post.user.username }}</p>
        <p class="card-text">{{ post.content }}</p>
        <div class="container text-muted d-flex justify-content-end">
            <small class="mx-1"><i class="fas fa-clock"></i> {{moment(post.created, "DDMMYYYY").fromNow()}}</small>
            <small class="mx-1">{{ post.comments | length}} <i class="fas fa-comment"></i></small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include "/footer.html" %}
